doctype html
html
    include partials/header.pug
    body
        // Header
        header(id="headerDash")
            div(id="headerContainer")
                div(id="leftContainer")
                    a(href="/ong/dashboard")
                        i(class="fas fa-hands")
                    a(href="/ong/doacoesPendentes")
                        i(class="fas fa-bookmark")
                div(class="dashboardName")
                    p #{displayName}
                div(id="rightContainer")
                    a(class="menu-active" href="/ong/config")
                        i(class="fas fa-cog")
                    a(href="/logout")
                        i(class="fas fa-sign-out-alt")
        include partials/cards.pug
        // Body content
        div#HeaderOngPerfil
            div#bannerPerfil
                img(src="", alt="Banner principal ong")
                div(id="editarBanner" onClick="")
                    form(
                        id="formBanner"
                        method="POST"
                        action="/ong/config/saveBanner"
                        enctype="multipart/form-data")
                        input(
                            onchange="saveBanner()"
                            type="file"
                            accept=".png, .jpg, .jpeg"
                            id="bannerImage"
                            name="bannerImage"
                            style="display:none;"
                        )
                    a(href="#" onClick="getBannerImage()") Editar
                    i(class="fas fa-camera" onClick="getBannerImage()")
            div(id="logoPerfil" onClick="")
                img(src="", alt="Avatar/Logo perfil ong")
                div#editarPerfil
                    form(
                        id="formProfile"
                        method="POST"
                        action="/ong/config/saveLogo"
                        enctype="multipart/form-data")
                        input(
                            onchange="savePicture()"
                            type="file"
                            accept=".png, .jpg, .jpeg"
                            id="profileImage"
                            name="profileImage"
                            style="display:none;"
                        )
                    i(class="fas fa-camera" onClick="getProfileImage()")
                    a(href="#" onClick="getProfileImage()") Editar
        main(id="mainConfigOng")
            div#dadosOng
                header
                    h3 Dados Ong
                if query.section == "globalInfo"
                    include partials/messages.pug
                    include partials/formGlobalInfo.pug
                else
                    table
                        tr
                            td Nome
                            td #{displayName}
                        tr
                            td Email
                            td #{email}
                        tr
                            td CNPJ
                            td #{cnpj}
                    a(class="btndefault" href="/ong/config?section=globalInfo") EDITAR
            div#enderecoOng
                header
                    h3 Endereço da ONG
                if query.section == "ongAddress"
                    include partials/messages.pug
                    include partials/formOngAddress.pug
                else
                    table
                        tr
                            td Endereço
                            td #{publicInfo.address.street}
                        tr
                            td Estado
                            td #{publicInfo.address.state}
                        tr
                            td Cidade
                            td #{publicInfo.address.city}
                        tr
                            td CEP
                            td #{publicInfo.address.cep}
                        tr
                            td Telefone
                            td #{publicInfo.tel}
                    a(class="btndefault" href="/ong/config?section=ongAddress") EDITAR
            div#bannersOng
                header
                    h3 Banners de divulgação
                div#bannersShare
                    div#banner1
                        img(src="", alt="Banner Divulgação")
                    div#banner2
                        img(src="", alt="Banner Divulgação")
                    div#banner3
                        img(src="", alt="Banner Divulgação")
            div#maisInfo
                header
                    h3 Mais informações
        script(src="/js/main.js")