doctype html
html
    include partials/header.pug
    body
        // Header
        header(id="headerDash")
            div(id="headerContainer")
                div(id="leftContainer")
                    a(href="/ong/dashboard")
                        i(class="fas fa-hands")
                    a(href="/ong/doacoesPendentes")
                        i(class="fas fa-bookmark")
                div(class="dashboardName")
                    p #{displayName}
                div(id="rightContainer")
                    a(class="menu-active" href="/ong/config")
                        i(class="fas fa-cog")
                    a(href="/logout")
                        i(class="fas fa-sign-out-alt")
        // Body content
        div#HeaderOngPerfil
            div#bannerPerfil
                div(id="editarBanner" onClick="")
                    form(id="formBanner")
                        input(
                            onchange="saveBanner()"
                            type="file"
                            accept=".png, .jpg, .jpeg"
                            id="bannerImage"
                            name="bannerImage"
                            style="display:none;"
                        )
                    a(href="#" onClick="getBannerImage()") Editar
                    i(class="fas fa-camera" onClick="getBannerImage()")
            div(id="logoPerfil" onClick="")
                div#editarPerfil
                    form(id="formProfile")
                        input(
                            onchange="savePicture()"
                            type="file"
                            accept=".png, .jpg, .jpeg"
                            id="profileImage"
                            name="profileImage"
                            style="display:none;"
                        )
                    i(class="fas fa-camera" onClick="getProfileImage()")
                    a(href="#" onClick="getProfileImage()") Editar

        include partials/cards.pug
        main(id="mainConfigOng")
            div#dadosOng
                header
                    h3 Dados Ong
                //- if query.section == "personalinfo"
                //-     include partials/messages.pug
                //-     include partials/formPersonal.pug
                //- else
                //-     table
                //-         tr
                //-             td Nome
                //-             td #{displayName}
                //-         tr
                //-             td Sobrenome
                //-             td #{displayLastname}
                //-         tr
                //-             td Email
                //-             td #{email}
                //-         tr
                //-             td CPF
                //-             td #{cpf}
                    a(class="btndefault" href="/ong/config?section=personalinfo") EDITAR
            div#enderecoOng
                header
                    h3 Endereço da ONG
                //- if query.section == "address"
                //-     include partials/messages.pug
                //-     include partials/formAddress.pug
                //- else
                //-     table
                //-         tr
                //-             td Endereço
                //-             td #{connectInfo.address.street}
                //-         tr
                //-             td Estado
                //-             td #{connectInfo.address.state}
                //-         tr
                //-             td Cidade
                //-             td #{connectInfo.address.city}
                //-         tr
                //-             td CEP
                //-             td #{connectInfo.address.cep}
                //-         tr
                //-             td Telefone
                //-             td #{connectInfo.tel}
                    a(class="btndefault" href="/ong/config?section=address") EDITAR
            div#bannersOng
                header
                    h3 Banners de divulgação
            div#maisInfo
                header
                    h3 Mais informações
        script(src="/js/main.js")