doctype html
html
    include partials/header.pug
    body
        // Header
        header(id="headerDash")
            div(id="leftContainer")
                a(class="menu-active" href="/doador/dashboard" aria-label="Redireciona para o painel do Doador.")
                    i(class="fas fa-hands")
                a(href="/doador/doacoesPendentes" aria-label="Redireciona para doações pendentes do Doador.")
                    i(class="fas fa-bookmark")
            div(class="dashboardName")
                p #{displayName}
            div(id="rightContainer")
                a(href="/doador/config" aria-label="Redireciona para página de configurações do Doador.")
                    i(class="fas fa-cog")
                a(href="/logout" aria-label="Sai da conta do Doador.")
                    i(class="fas fa-sign-out-alt")
        // Body content
        include partials/messages.pug
        main(id="mainDashboard")
            header.HeaderDashboard
                h1 Bem vindo(a) #{displayName}
                h4 Faça sua doação aqui.
            article.form
                form
                    table
                        tr
                            th 
                                i(class="fas fa-times")
                            th
                                i(class="fas fa-plus")
                            th TIPO
                            th ESTADO
                            th TAM
                            th QTD
                        tr
                            td
                                select#Type(name="type")
                                    option(value="calca") Calça
                                    option(value="camiseta") Camiseta
                                    option(value="moletom") moletom
                                    option(value="sapatos") Sapatos
                                    option(value="tenis") Tênis
                        tr
                            td
                                select#Condition(name="estado")
                                    option(value="novo") novo
                                    option(value="seminovo") semi novo
                                    option(value="usado") usado
                        tr
                            td       
                                select#Size(name="size")
                                    option(value="ggsize") GG
                                    option(value="gsize") G
                                    option(value="msize") M
                                    option(value="psize") P
                        tr
                            td
                                input#Amount(
                                    type="number", 
                                    name="quantidade",
                                    maxlength = "3",
                                    min="1",
                                    max="200"
                                )
                    input(class="btndefault" type="submit", value="Doar")
        script(src="/js/main.js")