doctype html
html
    include partials/header.pug
    body
        #backBtn
            a(href="/")
                img(src="/images/back.svg", alt="Back button")
        main#mRegistroWrapper
            div(id="boxRegistro")
                header.HeaderDoador
                    h1 Bem vindo Doador(a)
                    h4 Se você quer doar e não sabe como, aqui é a maneira mais fácil de fazer isso.
                div#form
                    h2 Registro
                    form.formDoador(action="/doador/registro", method="post")
                        include partials/messages.pug
                        input#nome(
                            type="text"
                            name="name"
                            placeholder="Digite seu nome completo"
                            value=typeof name != 'undefined' ? name : ''
                        )
                        input#EmailRegister(
                            type="email"
                            name="email"
                            placeholder="Digite um email"
                            value=typeof email != 'undefined' ? email : ''
                        )
                        input#PasswordRegister(
                            type="password"
                            name="password"
                            placeholder="Digite uma senha"
                            value=typeof password != 'undefined' ? password : ''
                        )
                        input#RPasswordRegister(
                            type="password"
                            name="rpassword"
                            placeholder="Digite sua senha novamente"
                            value=typeof rpassword != 'undefined' ? rpassword : ''
                        )
                        input(type="submit" value="REGISTRAR")
                    p(class="linkToOtherPage") Já tem uma conta?
                        a(href="/doador/login") Fazer login.
    script(src="/js/main.js")