doctype html
html(lang="pt-br")
    include partials/header.pug
    body
        #backBtn
            a(href="/" aria-label="Voltar para página anterior.")
                img(src="/images/back.svg", alt="Back button")
        main#mRegistroWrapper
            div(id="boxRegistro")
                header.HeaderDoador
                    h1 Bem vindo Doador(a)
                    h4 Se você quer doar e não sabe como, aqui é a melhor maneira para se fazer isso.
                div#form
                    h2 Cadastro
                    form.formDoador(action="/doador/registro", method="post")
                        include partials/messages.pug
                        input#firstname(
                            type="text"
                            name="firstname"
                            placeholder="Digite seu nome"
                            value=typeof firstname != 'undefined' ? firstname : ''
                        )
                        input#lastname(
                            type="text"
                            name="lastname"
                            placeholder="Digite seu sobrenome"
                            value=typeof lastname != 'undefined' ? lastname : ''
                        )
                        input#CPF(
                            type="number"
                            name="cpf"
                            placeholder="Digite um CPF"
                            value=typeof cpf != 'undefined' ? cpf : ''
                        )
                        input#EmailRegister(
                            type="email"
                            name="email"
                            placeholder="Digite um email"
                            value=typeof email != 'undefined' ? email : ''
                        )
                        input#PasswordRegister(
                            type="password"
                            name="password"
                            placeholder="Digite uma senha"
                            value=typeof password != 'undefined' ? password : ''
                        )
                        input#RPasswordRegister(
                            type="password"
                            name="rpassword"
                            placeholder="Digite sua senha novamente"
                            value=typeof rpassword != 'undefined' ? rpassword : ''
                        )
                        input(type="submit" value="REGISTRAR")
                    p(class="linkToOtherPage") Já tem uma conta? 
                        a(href="/doador/login" aria-label="Redireciona para página de login.") Fazer login.