doctype html
html
    include partials/header.pug
    body
        // Header
        header(id="headerDash")
            div(id="headerContainer")
                div(id="leftContainer")
                    a(href="/doador/dashboard" aria-label="Redireciona para o painel do Doador.")
                        i(class="fas fa-hands")
                    a(class="menu-active" href="/doador/minhasDoacoes" aria-label="Redireciona para doações pendentes do Doador.")
                        i(class="fas fa-bookmark")
                div(class="dashboardName")
                    p #{displayName}
                div(id="rightContainer")
                    a(href="/doador/config" aria-label="Redireciona para página de configurações do Doador.")
                        i(class="fas fa-cog")
                    a(href="/logout" aria-label="Sai da conta do Doador.")
                        i(class="fas fa-sign-out-alt")
        // Body content
        include partials/cards.pug
        main(id="mainMyDonations")
            header.HeaderDashboard
                h1 Bem vindo(a) #{displayName}
                h4 Gerencie suas doações.
            article#myDonations
                ul
                    each val in myDonations
                        li.donationList
                            div.DonationContainer
                                div#infoDonation
                                    p Peças:
                                        span #{val.types}
                                    p Qualidade das peças:
                                        span #{val.quality}
                                    p Quantidade de peças:
                                        span #{val.qtd}
                                div#AddressDonation
                                    p Cidade:
                                        span #{connectInfo.address.city}
                                    p Rua:
                                        span #{connectInfo.address.street}
                                    p CEP:
                                        span #{connectInfo.address.cep}
                                    p Telefone para contato:
                                        span #{connectInfo.tel}
                                form(method="POST" action=`/doador/minhasDoacoes/${val._id}`)
                                    button(type="submit" id="DeleteBtn") DELETAR
        script(src="/js/main.js")