doctype html
html(lang="pt-br")
    include partials/header.pug
    body
        #backBtn
            a(href="/" aria-label="Volta para página anterior.")
                img(src="/images/back.svg", alt="Back button")
        main#mOngLoginWrapper
            div(id="boxOngLogin")
                header.HeaderDoador
                    h1 Bem vindo ONG
                    h4 Sua ONG precisa de uma ajuda para arrecadar doações e achar doadores? nós podemos ajudar.
                div#form
                    h2 Login
                    form.formDoador(action="/ong/login", method="post")
                        include partials/messages.pug
                        input#EmailLogin(
                            type="email"
                            name="email"
                            placeholder="Digite seu email"
                            value=typeof email != 'undefined' ? email : ''
                        )
                        input#PasswordLogin(
                            type="password"
                            name="password"
                            placeholder="Digite sua senha"
                            value=typeof password != 'undefined' ? password : ''
                        )
                        input(type="submit" value="Entrar")
                    p(class="linkToOtherPage") Não tem uma conta?
                        a(href="/ong/registro" aria-label="Redireciona para página de registro da ONG.") Criar Conta.