doctype html
html(lang="pt-br")
    include partials/header.pug
    body
        #backBtn
            a(href="/" aria-label="Voltar para página anterior.")
                img(src="/images/back.svg", alt="Back button")
        main#mOngRegistroWrapper
            div(id="boxOngRegistro")
                header.HeaderDoador
                    h1 Bem vindo ONG
                    h4 Sua ONG precisa de uma ajuda para arrecadar doações e achar doadores? Nós podemos ajudar.
                div#form
                    h2 Cadastro
                    form.formDoador(action="/ong/registro", method="post")
                        include partials/messages.pug
                        input#nome(
                            type="text"
                            name="name"
                            autocomplete="off"
                            placeholder="Digite o nome da ONG"
                            value=typeof name != 'undefined' ? name : ''
                        )
                        input#cnpj(
                            type="text"
                            name="cnpj"
                            maxlength="14"
                            autocomplete="off"
                            placeholder="Digite o CNPJ da ONG"
                            value=typeof cnpj != 'undefined' ? cnpj : ''
                        )
                        input#EmailRegister(
                            type="email"
                            name="email"
                            autocomplete="off"
                            placeholder="Digite o email da ONG"
                            value=typeof email != 'undefined' ? email : ''
                        )
                        input#PasswordRegister(
                            type="password"
                            name="password"
                            autocomplete="off"
                            placeholder="Digite uma senha"
                            value=typeof password != 'undefined' ? password : ''
                        )
                        input#RPasswordRegister(
                            type="password"
                            name="rpassword"
                            autocomplete="off"
                            placeholder="Digite a senha novamente"
                            value=typeof rpassword != 'undefined' ? rpassword : ''
                        )
                        input(type="submit" value="REGISTRAR")
                    p(class="linkToOtherPage") Já tem uma conta? 
                        a(href="/ong/login" aria-label="Redireciona para página de login da ONG.") Fazer login.